.title-container {
    font-family: Gotham;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    display: flex;
    font-weight: 500;
    font-size: 160px;
    color: white;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    font-weight: 500;
    font-size: 60px;
    color: #00c6b8
}

#bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}