{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}

<div class="title-container">
    <div>
        <p>D3C</p>
    </div>
    <div class="text-container">
        <div>
            <p>Django 3D</p>
        </div>
        <div>
            <p>Catalogue</p>
        </div>
    </div>
</div>

<script type="importmap">
    {
      "imports": {
        "three": "https://cdn.jsdelivr.net/npm/three@0.172.0/build/three.module.js",
        "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.172.0/examples/jsm/"
      }
    }
  </script>

<script type="module" src="{% static 'js/homePage.js' %}"></script>

<canvas id="bg"></canvas>

{% endblock %}