{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/item.css' %}">
{% endblock %}

{% block content %}
<script type="importmap">
  {
    "imports": {
      "three": "https://cdn.jsdelivr.net/npm/three@0.172.0/build/three.module.js",
      "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.172.0/examples/jsm/"
    }
  }
</script>

<script type="module" src="{% static 'js/modelViewer.js' %}"></script>

<div class="container">
  <div class="canvas-container">
    <canvas id="bg"></canvas>
  </div>
  <div class="info-container">
    <div class="info">
      <h1>{{ model3d.name }}</h1>
      <h2>Polygons: {{ model3d.triangles }}</h2>
      <p>{{ model3d.description }}</p>
      <button id="downloadBtn">Download</button>
    </div>
  </div>
</div>

<script type="text/javascript">
  var modelUrl = "{{ model3d.url|escapejs }}";
</script>
{% endblock %}